* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-size: 15px;
    outline: none !important;    
}


body {
    background-color: #eaefe973;
}

.btn {
    box-shadow: none !important;
    border-radius: 8px;
}
.text-brown{
    color: #b96a3b !important;
}
.btn-brown{
    background-color: #b96a3b !important;
    border-color: #b96a3b !important;
    color: white;
    transition: .2s all ease-in-out;
}  
.btn-brown:hover{
    background-color: #9b5730 !important;
    border-color: #9b5730 !important;
    color: white;
}  

/* 
    *********************************
            N  A  V  B  A  R
    *********************************
*/
.navbar .nav-link{
    padding: 10px 20px !important;
}